	<!DOCTYPE html>
<html lang="en">
	<head>
		<title>angular material starter (ES6)</title>
		<meta charset="utf-8">
		<meta http-equiv="X-UA-Compatible" content="IE=edge">
		<meta name="viewport" content="width=device-width, initial-scale=1">
		<meta name="description" content="an angular material starter (ES6)">
		<meta name="author" content="Erwan DATIN">
    <style type="text/css">
        [ng-cloak] {
            display: none;
        }
    </style>		
	</head>

	<body layout="row" ng-controller="homeController as homeCtrl" ng-cloak="">
		
		<!--left sidenav-->
		<md-sidenav layout="column" 
								class="md-sidenav-left md-hue-1 md-whiteframe-z2" 
								md-component-id="left" 
								md-is-locked-open="$mdMedia('gt-sm')">
		
			<md-toolbar class="md-tall md-hue-2 md-whiteframe-z1">
				<span flex></span>
				<div layout="column" class="md-padding">
					<div class="md-avatar">an image here</div>
					<span></span>
					<div class="md-body-1">Firstname Lastname</div>
					<div class="md-caption">email@domainname.com</div>
				</div>
			</md-toolbar>
		
		</md-sidenav>
			
			
		<!--right content-->
		<div 	layout="column" layout-fill role="main">
			
			
			<!--toolbar : top navigation menu (NO SEARCH = MAIN)-->
			<md-toolbar id="topNavigationBar" ng-if="!homeCtrl.showSearch" layout="row" class="md-whiteframe-z2 md-hue-2">
				
				<div layout="row" flex layout-fill>
					
					<div layout="row" layout-padding layout-align="start center">	
						<md-button 	class="md-icon-button md-accent" 
												hide-gt-sm 
												ng-click="homeCtrl.toggleSidenav('left')" 
												aria-label="Show Navigation Menu">
							<md-icon md-svg-icon="menu_24" ></md-icon>
						</md-button>
					</div>
					
					<div layout="row" flex layout-padding layout-align="start center">
						<h4 class="md-header" flex>Angular Material - ES6 Starter App</h4>	
					</div>
					
					<span hide-sm hide-md flex></span>

					<div layout="row"  layout-align="end center">	


					
						<md-menu>
							
							<div layout="row" layout-padding >
								
							<md-button 	aria-label="Search" 
													class="md-icon-button md-accent"
													ng-click="homeCtrl.showSearch = !homeCtrl.showSearch">
								<md-icon md-svg-icon="search_24" ></md-icon>
							</md-button>								
										
								<md-button 	aria-label="Open configuration menu menu" 
														class="md-icon-button md-accent" 
														ng-click="homeCtrl.openConfigurationMenu($mdOpenMenu, $event)">
									<md-icon md-menu-origin md-svg-icon="moreVertical"></md-icon>
								</md-button>
							</div>
							
							<md-menu-content width="4">
								
								<md-menu-item>
									
									<md-button ng-click="homeCtrl.openMyProfile($event)" disabled="{{homeCtrl.user.userLogged ? true : false}}">
										<md-icon md-svg-icon="person_24" md-menu-align-target></md-icon>
										my Profile
									</md-button>
								</md-menu-item>
								
								<md-menu-item>
									<md-button  ng-click="homeCtrl.openLanguageSettings($event)">
										<md-icon md-svg-icon="language_24"></md-icon>
										Language
									</md-button>
								</md-menu-item>
								
								<md-menu-divider></md-menu-divider>
								
								<md-menu-item>
									<md-button ng-click="homeCtrl.toggleNotifications()">
										<md-icon md-svg-icon="notifications_{{homeCtrl.notificationsEnabled ? 'off' : 'active'}}_24"></md-icon>
										{{homeCtrl.notificationsEnabled ? 'Disable' : 'Enable' }} notifications
									</md-button>
								</md-menu-item>
								
							</md-menu-content>
							
						</md-menu>
					</div>	

					
				</div>
			</md-toolbar>
			
			
			<!--toolbar : top navigation WHEN SEARCH-->
      <md-toolbar id="topSearchBar" class="md-whiteframe-z2 md-hue-1" layout="row" ng-if="homeCtrl.showSearch">
        
				<div layout="row" flex layout-fill class="md-toolbar-tools">
          <md-button 	ng-click="homeCtrl.showSearch = !homeCtrl.showSearch" 
											aria-label="Back"
											class="md-icon-button md-accent">
						<md-icon md-svg-icon="arrow_back_24"></md-icon>
          </md-button>
          <h3  hide-sm flex="10">
            Back
          </h3>
          <md-input-container  flex>
            <label>enter search</label>
            <input ng-model="search.who">
          </md-input-container>
					<div layout="row" layout-padding >
          <md-button 	aria-label="Search" 
											ng-click="homeCtrl.showSearch = !homeCtrl.showSearch"
											class="md-icon-button md-accent">
            <md-icon md-svg-icon="search_24"></md-icon>
          </md-button>
					
					
          <md-button 	aria-label="Open Settings" 
											ng-click="homeCtrl.showSearchOptionsSheet($event)"
											class="md-icon-button md-accent">
						<md-icon md-svg-icon="moreVertical"></md-icon>
          </md-button>
					</div>
        </div>
       
      </md-toolbar>			
			
			
			
			
			<!--content-->
			<div layout="column" flex id="content">
				<md-content layout="column" md-scroll-y flex class="md-padding">
				
				</md-content>
			</div>
								
		</div>
				
		<script type="text/javascript" src="public/js/appBundle.js"></script>						
	</body>
</html>
	
	