<md-bottom-sheet class="md-list md-has-header"> 
		
	<md-list>
		<md-subheader class="md-no-sticky">Search by</md-subheader>
		
		<md-list-item ng-repeat="option in searchBottomSheetCtrl.searchSheetModel track by $index"
									ng-click="searchBottomSheetCtrl.optionClick($index)">
			<p> {{ option.name }} </p>
			<md-checkbox class="md-secondary" aria-label="{{option.name}}-check" md-no-ink ng-model="option.checked" ng-click="searchBottomSheetCtrl.checkBoxClicked($index)"></md-checkbox>
		</md-list-item>
			
	</md-list>	
	
</md-bottom-sheet>